{% extends "front/base_site.html" %}
{% load staticfiles %}
{% block header_js %}

{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>详情页</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <form class="input-group" ethod="get">
                            <input type="text" class="form-control" id="id_q" name="q" type="search"
                                   value="{{ query|default_if_none:"" }}" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{{ detail_info.article_title }}</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="bs-example" data-example-id="simple-jumbotron">
                                <div class="jumbotron">
                                    <h3>{{ detail_info.article_desc }}</h3>

                                    <p>{{ detail_info.article_content }}</p>
                                    <form class="form-horizontal form-label-left">
                                        <div class="control-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input id="tags_1" type="text" class="tags form-control"
                                                       value="{{ detail_info.article_tags }}"/>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <a style="margin-top: 10px" id="update_article_tags"
                                                   class="btn btn-success">更新文章标签</a>
                                                <a style="margin-top: 10px" id="create_article_tags"
                                                   class="btn btn-success">要不试试自动填标签</a>
                                            </div>
                                        </div>
                                    </form>
                                    <select class="js-example-tags form-control select2-hidden-accessible" multiple=""
                                            tabindex="-1" aria-hidden="true">
                                        <option selected="selected">orange</option>
                                        <option>white</option>
                                        <option selected="selected">purple</option>
                                        <option value="red">red</option>
                                        <option value="blue">blue</option>
                                        <option value="green">green</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".js-example-tags").select2();
        });
        $("#update_article_tags").click(function () {
            var article_tags = $("#tags_1_tagsinput span.tag span").text().replace(/\s+$/, '');
            var new_article_tags = article_tags.split(/\s{2}/).join(",");
            $.ajax({
                type: "POST",
                url: "/update_article_tags/{{ detail_info.id }}",
                data: {article_tags: new_article_tags},
                dataType: "json",
                success: function (message) {
                    console.log(message);
                    alert(message.message);
                }
            });
        });
        $("#create_article_tags").click(function () {
            $.ajax({
                type: "get",
                url: "/create_article_tags/{{ detail_info.id }}",
                dataType: "json",
                success: function (message) {
                    $.fn.tagsInput.importTags('#tags_1', message.message);
                    console.log(message.message)
                }
            });
        })
    </script>
{% endblock %}