<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Hello React!</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/select2/4.0.3/css/select2.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/select2/4.0.3/js/select2.js"></script>
</head>
<body>
<div class="container">
    <div class="coo-md-9" role="main">
        <select class="js-example-tags form-control select2-hidden-accessible" multiple="" tabindex="-1"
                aria-hidden="true">
            <option selected="selected">orange</option>
            <option>white</option>
            <option selected="selected">purple</option>
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="green">green</option>
            <option value="fdaasf" data-select2-tag="true">fdaasf</option>
        </select>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".js-example-tags").select2({
                    tags: true
                })
            });
        </script>


    </div>
</div>

</body>
</html>